.contactItem {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
}

.contactNumber {
  margin-right: auto;
}

.deleteButton {
  margin-left: 8px;
  background-color: rgba(45, 53, 68, 0.8);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  height: 32px;
  width: 80px;
  cursor: pointer;
}

.deleteButton:hover,
.deleteButton:focus {
  background-color: rgba(24, 37, 60, 0.8);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
